# These are all public keys, deliberately committed
SITE_URL="http://ghost.local:8000"
GHOST_API_URL="https://docs.ghost.io"
GHOST_API_KEY="97f93b142a3ce4bc48fcf7ecd4f6f9014c63ee2ae974415dfd31968b1abf7863b2d78202d985541cc9cec43852390b1bd3d41c0c56b9fcccb9941005ab1ca007"
ALGOLIA_ADMIN_KEY="<key>"
SERVICE_WORKER_KILL_SWITCH="false"
ALGOLIA_ADMIN_KEY="<key>"

