.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto-fit;
}

.grid-16 {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.grid-auto.gutter-0,  .grid-12.gutter-0,  .grid-16.gutter-0  { grid-gap: 0rem; }
.grid-auto.gutter-8,  .grid-12.gutter-8,  .grid-16.gutter-8  { grid-gap: 0.8rem; }
.grid-auto.gutter-12, .grid-12.gutter-12, .grid-16.gutter-12 { grid-gap: 1.2rem; }
.grid-auto.gutter-16, .grid-12.gutter-16, .grid-16.gutter-16 { grid-gap: 1.6rem; }
.grid-auto.gutter-20, .grid-12.gutter-20, .grid-16.gutter-20 { grid-gap: 2.0rem; }
.grid-auto.gutter-24, .grid-12.gutter-24, .grid-16.gutter-24 { grid-gap: 2.4rem; }
.grid-auto.gutter-28, .grid-12.gutter-28, .grid-16.gutter-28 { grid-gap: 2.8rem; }
.grid-auto.gutter-32, .grid-12.gutter-32, .grid-16.gutter-32 { grid-gap: 3.2rem; }
.grid-auto.gutter-36, .grid-12.gutter-36, .grid-16.gutter-36 { grid-gap: 3.6rem; }
.grid-auto.gutter-40, .grid-12.gutter-40, .grid-16.gutter-40 { grid-gap: 4.0rem; }

.grid-auto .col-2,  .grid-12 .col-2,  .grid-16 .col-2  { grid-column: span 2; }
.grid-auto .col-3,  .grid-12 .col-3,  .grid-16 .col-3  { grid-column: span 3; }
.grid-auto .col-4,  .grid-12 .col-4,  .grid-16 .col-4  { grid-column: span 4; }
.grid-auto .col-5,  .grid-12 .col-5,  .grid-16 .col-5  { grid-column: span 5; }
.grid-auto .col-6,  .grid-12 .col-6,  .grid-16 .col-6  { grid-column: span 6; }
.grid-auto .col-7,  .grid-12 .col-7,  .grid-16 .col-7  { grid-column: span 7; }
.grid-auto .col-8,  .grid-12 .col-8,  .grid-16 .col-8  { grid-column: span 8; }
.grid-auto .col-9,  .grid-12 .col-9,  .grid-16 .col-9  { grid-column: span 9; }
.grid-auto .col-10, .grid-12 .col-10, .grid-16 .col-10 { grid-column: span 10; }
.grid-auto .col-11, .grid-12 .col-11, .grid-16 .col-11 { grid-column: span 11; }
.grid-auto .col-12, .grid-12 .col-12, .grid-16 .col-12 { grid-column: span 12; }
.grid-auto .col-13, .grid-12 .col-13, .grid-16 .col-13 { grid-column: span 13; }
.grid-auto .col-14, .grid-12 .col-14, .grid-16 .col-14 { grid-column: span 14; }
.grid-auto .col-15, .grid-12 .col-15, .grid-16 .col-15 { grid-column: span 15; }
.grid-auto .col-16, .grid-12 .col-16, .grid-16 .col-16 { grid-column: span 16; }

.grid-auto .row-2,  .grid-12 .row-2,  .grid-16 .row-2  { grid-row: span 2; }
.grid-auto .row-3,  .grid-12 .row-3,  .grid-16 .row-3  { grid-row: span 3; }
.grid-auto .row-4,  .grid-12 .row-4,  .grid-16 .row-4  { grid-row: span 4; }
.grid-auto .row-5,  .grid-12 .row-5,  .grid-16 .row-5  { grid-row: span 5; }
.grid-auto .row-6,  .grid-12 .row-6,  .grid-16 .row-6  { grid-row: span 6; }
.grid-auto .row-7,  .grid-12 .row-7,  .grid-16 .row-7  { grid-row: span 7; }
.grid-auto .row-8,  .grid-12 .row-8,  .grid-16 .row-8  { grid-row: span 8; }
.grid-auto .row-9,  .grid-12 .row-9,  .grid-16 .row-9  { grid-row: span 9; }
.grid-auto .row-10, .grid-12 .row-10, .grid-16 .row-10 { grid-row: span 10; }
.grid-auto .row-11, .grid-12 .row-11, .grid-16 .row-11 { grid-row: span 11; }
.grid-auto .row-12, .grid-12 .row-12, .grid-16 .row-12 { grid-row: span 12; }
.grid-auto .row-13, .grid-12 .row-13, .grid-16 .row-13 { grid-row: span 13; }
.grid-auto .row-14, .grid-12 .row-14, .grid-16 .row-14 { grid-row: span 14; }
.grid-auto .row-15, .grid-12 .row-15, .grid-16 .row-15 { grid-row: span 15; }
.grid-auto .row-16, .grid-12 .row-16, .grid-16 .row-16 { grid-row: span 16; }
.grid-auto .row-17, .grid-12 .row-17, .grid-16 .row-17 { grid-row: span 17; }
.grid-auto .row-18, .grid-12 .row-18, .grid-16 .row-18 { grid-row: span 18; }
.grid-auto .row-19, .grid-12 .row-19, .grid-16 .row-19 { grid-row: span 19; }
.grid-auto .row-20, .grid-12 .row-20, .grid-16 .row-20 { grid-row: span 20; }

.grid-auto .self-start, .grid-12 .self-start, .grid-16 .self-start { align-self: start; }
.grid-auto .self-end, .grid-12 .self-end, .grid-16 .self-end { align-self: end; }
.grid-auto .self-center, .grid-12 .self-center, .grid-16 .self-center { align-self: center; }
.grid-auto .self-stretch, .grid-12 .self-stretch, .grid-16 .self-stretch { align-self: stretch; }
.grid-auto .self-baseline, .grid-12 .self-baseline, .grid-16 .self-baseline { align-self: baseline; }
.grid-auto .self-first-baseline, .grid-12 .self-first-baseline, .grid-16 .self-first-baseline { align-self: first baseline; }
.grid-auto .self-last-baseline, .grid-12 .self-last-baseline, .grid-16 .self-last-baseline { align-self: last baseline; }