/*

Before adding custom CSS, think about if it rather should be in Spirit...

*/

/* TODO: these variables is copied from Spirit. Have to fix redundancy! */
/* TODO: apply postcss */
@import "colors.css";
@import "typography.css";
@import "post-content.css";

.sidebar-min-width {
    min-width: 12vw;
}

.content-max-width {
    max-width: calc(114rem - 24vw);
}

/* Stuff that needs to be in Spirit/Brand */
/* -------------------------------------------------- */

.lh-1-0 {
    line-height: 1em;
}

.white-placeholder::placeholder { /* Most modern browsers support this now. */
   color: rgba(255, 255, 255, 0.5);
}

.dark-placeholder::placeholder { /* Most modern browsers support this now. */
   color: rgba(52, 63, 68, 0.3);
}