/*

Before adding custom CSS, think about if it rather should be in Spirit...

*/

/* TODO: these variables is copied from Spirit. Have to fix redundancy! */
/* TODO: apply postcss */
@import "colors.css";
@import "typography.css";
@import "post-content.css";
@import "_css-grid.css";


/* Stuff that needs to be in Spirit/Brand */
/* ----------------------------------------------------------------------- */

/* Custom typography for UI -- maybe should be in Spirit... */
.lh-h1 { line-height: var(--vr-8); }
.lh-h2 { line-height: var(--vr-6); }
.lh-h3 { line-height: var(--vr-5); }
.lh-h4 { line-height: var(--vr-4); }
.lh-h5 { line-height: var(--vr-3); }
.lh-h6 { line-height: var(--vr-3); }
.lh-p  { line-height: var(--vr-3); }
.lh-tiny  { line-height: var(--vr-2); }


/* Needed for tutorials */
.flex-third {
    flex: 1 1 calc(100% / 3 - 40px);
}

/* Overriding Spirit/Brand font sizes */
.f-headline { font-size: 5.0rem; }
.f-subheadline { font-size: 4.4rem; }
.f1 { font-size: 4.4rem; }
.f2 { font-size: 3.3rem; }
.f3 { font-size: 2.5rem; }
.f4 { font-size: 1.9rem; }
.f5 { font-size: 1.45rem; }
.f6 { font-size: 1.40rem; }
.f7 { font-size: 1.35rem; }
.f8 { font-size: 1.3rem; }
.f-supersmall { font-size: 1.1rem; }

/* _measure.css */
.measure-0-4 { letter-spacing: 0.4px; }
.measure-0-2 { letter-spacing: 0.2px; }
.measure--0-2 { letter-spacing: -0.2px; }
.measure--0-4 { letter-spacing: -0.4px; }
.measure--1-0 { letter-spacing: -1.0px; }

/* Overriding max page width */
.mw-xl { max-width: 120.0rem; }
.mw-m { max-width: 80.0rem; }

/* margins */
.ma-auto {
    margin: auto;
}

.lh-1-0 {
    line-height: 1em;
}

/* _links.css */
.link {
  text-decoration: none;
  transition: color .3s ease;
}

.link:link,
.link:visited {
    transition: all .15s ease;
}
.link:hover   {
    transition: all .15s ease;
}
.link:active  {
    transition: all .15s ease;
}
.link:focus   {
    transition: all .15s ease;
    outline: 1px dotted currentColor;
}


.br5 {
    border-radius: 10%;
}

.white-placeholder::placeholder { /* Most modern browsers support this now. */
   color: rgba(255, 255, 255, 0.5);
}

.dark-placeholder::placeholder { /* Most modern browsers support this now. */
   color: rgba(52, 63, 68, 0.3);
}

/* Text styles */
.tdn {
    text-decoration: none;
}

/* Fixing those shadows */
.box-shadow-hover { 
    transition: all 0.3s ease; 
}

.shadow-1 { 
    box-shadow: 0 0 1px rgba(0,0,0,.06), 0 2px 6px rgba(0,0,0,.03); 
}
.shadow-1.on-white { 
    box-shadow: 0 0 1px rgba(0,0,0,.15), 0 2px 4px rgba(0,0,0,.04); 
}
.shadow-1-hover:hover { 
    box-shadow: 0 0 5px rgba(0,0,0,.02), 0 5px 22px -6px rgba(0,0,0,.1); 
    transform: scale(1.025);
}
.shadow-1-hover.on-white:hover { 
    box-shadow: 0 0 1px rgba(0,0,0,.15), 0 5px 22px -6px rgba(0,0,0,.1); 
}

.shadow-2 { 
    box-shadow: 0 0 5px rgba(0,0,0,.02), 0 5px 22px -6px rgba(0,0,0,.1); 
}
.shadow-2.on-white { 
    box-shadow: 0 0 3px rgba(0,0,0,.08), 0 5px 22px -6px rgba(0,0,0,.08); 
}
.shadow-2-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1px rgba(0,0,0,.03), 0 8px 26px -4px rgba(0,0,0,.1);
}
.shadow-2-hover.on-white:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.08), 0 8px 26px -4px rgba(0,0,0,.1);
}

.shadow-3 { 
    box-shadow: 0 0 1px rgba(0,0,0,.03), 0 10px 32px -5px rgba(0,0,0,.1); 
}
.shadow-3.on-white { 
    box-shadow: 0 0 4px rgba(0,0,0,.065), 0 10px 32px -5px rgba(0,0,0,0.075); 
}
.shadow-3-hover:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.03), 0 17px 40px -8px rgba(0,0,0,.09);
    transform: scale(1.05);
}
.shadow-3-hover.on-white:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.065), 0 17px 40px -8px rgba(0,0,0,.09);
}

.header-shadow { 
    box-shadow: 0 0 3px rgba(0,0,0,.03), 0 3px 46px rgba(0,0,0,.07); 
}

/* Test hover box */
.box-hover-test {
    transition: all 0.3s ease;
}

.box-hover-test:hover {
    box-shadow: 0 0 1px rgba(0,0,0,.03), 0 10px 32px -5px rgba(0,0,0,.1);
    transform: scale(1.0065);
}


/* Border radius */
.br5 {
    border-radius: 1.2rem;
}



/* Custom styles */
/* ----------------------------------------------------------------------- */

.gh-nav-logo-suffix:before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
    width: 1px;
    height: 23px;
    background: #d3e4ee;
    transform: rotate(25deg);
}

.gh-nav-logo-suffix-light:before {
    color: #FFFFFF!important;
}

.sidebar-min-width {
    min-width: 12vw;
}

.content-max-width {
    max-width: calc(114rem - 24vw);
}

/* Home */
/* ----------------------------------------------------------------------- */
.gh-bg-home {
    background: url(../../images/home-bg.svg) no-repeat, radial-gradient(ellipse at top, rgba(252,253,255,1) 0%,rgba(228,233,245,1) 100%);
    background-size: cover;
}

.gh-home-api-container {
    grid-auto-rows: minmax(12rem, auto);
}

/* Integrations
/* ----------------------------------------------------------------------- */

.gh-integration-sidebar a:hover {
    color: #3eb0ef !important;
    /*TODO: color: var(--blue);*/
}

.gh-integration-card {
    transition: all 0.5s ease !important;
}

.gh-integration-card:hover {
    transform: scale(1.1);
    transition: all 0.2s ease !important;
}

.bg-integrations-header-image {
    background: url("https://source.unsplash.com/user/johnonolan");
    background-size: cover;
    background-position: 0 35%;
}

.bg-integrations-header-cover {
    background: linear-gradient(45deg, rgba(125,185,232,0.95) 1%,rgba(0,179,184,0.95) 100%);
}

.gh-integration-header-shadow {
    text-shadow: 0px 5px 18px rgba(0, 0, 0, 0.07);
}

.gh-integrations {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
}

@media (max-width: 1000px) {
    .gh-integrations {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 860px) {
    .gh-integrations {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* Table of Contents */
/* ----------------------------------------------------------------------- */
.toc-list-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.3rem;
}

.toc-list-container ul li {
    line-height: 1.65em;
    margin-bottom: 1.6rem;
}

.toc-list-container ul a {
    color: var(--midgrey);
    text-decoration: none;
    display: inline-block;
}

.toc-list-container ul a:hover {
    color: var(--darkgrey);
    text-decoration: none;
}

.toc-list-container ul li > ul {
    margin-left: 2.4rem;
}

/* Hide all TOC levels deeper than 2 */
.toc-list-container ul li > ul li ul {
    display: none;
}