/* Before adding custom CSS, think about if it rather should be in Spirit */

/* Globals - should definitely be in Spirit */

/* Usage: <mark>Highlight</mark> */
mark {
    background-color: #fdffb6;
}

/* Usage: <kbd>Cmd</kbd> + <kbd>Shift</kbd> */
kbd {
    display: inline-block;
    padding: 0.35em 0.42em;
    font: 0.8em "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1em;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    display: inline-block;
}

/* Custom typography for UI -- maybe should be in Spirit... */
.lh-h1 { line-height: var(--vr-8); }
.lh-h2 { line-height: var(--vr-6); }
.lh-h3 { line-height: var(--vr-4); }
.lh-h4 { line-height: var(--vr-4); }
.lh-h5 { line-height: var(--vr-3); }
.lh-h6 { line-height: var(--vr-3); }
.lh-p  { line-height: var(--vr-3); }
.lh-small  { line-height: var(--vr-3); }
.lh-tiny  { line-height: var(--vr-2); }
.lh-1-0 { line-height: 1em; }

.word-normal { word-break: normal; }
.word-wrap { word-break: break-all; }
.word-nowrap { word-break: keep-all; }

/* Needed for tutorials */
.flex-third {
    flex: 1 1 calc(100% / 3 - 40px);
}

/* _measure.css */
.measure-0-4 { letter-spacing: 0.4px; }
.measure-0-2 { letter-spacing: 0.2px; }
.measure--0-2 { letter-spacing: -0.2px; }
.measure--0-4 { letter-spacing: -0.4px; }
.measure--1-0 { letter-spacing: -1.0px; }

/* Overriding max page width */
.mw-xl { max-width: 128.0rem; }
.mw-m { max-width: 80.0rem; }

.miw-toc {
    min-width: 18rem;
}

.miw-sidebar {
    min-width: 22rem;
}

.w-sidebar {
    width: 22rem;
}

.mw-content {
    max-width: 76rem;
}

.pv6px {
    padding-top: 6px;
    padding-bottom: 6px;
}

/* margins */
.ma-auto {
    margin: auto;
}

/* _links.css */
.link {
    text-decoration: none;
    transition: color .3s ease;
}

.link:link,
.link:visited {
    transition: all .15s ease;
}
.link:hover   {
    transition: all .15s ease;
}
.link:active  {
    transition: all .15s ease;
}
.link:focus   {
    transition: all .15s ease;
    outline: 1px dotted currentColor;
}


.br5 {
    border-radius: 10%;
}

.white-placeholder::placeholder { /* Most modern browsers support this now. */
    color: rgba(255, 255, 255, 0.5);
}

.dark-placeholder::placeholder { /* Most modern browsers support this now. */
    color: var(--lightgrey-d2);
}

/* Text styles */
.tdn {
    text-decoration: none;
}

/* Fixing those shadows */
.box-shadow-hover {
    transition: all 0.8s ease;
}

.shadow-1 {
    box-shadow: 0 0 1px rgba(0,0,0,.06), 0 2px 6px rgba(0,0,0,.03);
}
.shadow-1.on-white {
    box-shadow: 0 0 1px rgba(0,0,0,.15), 0 2px 4px rgba(0,0,0,.04);
}
.shadow-1-hover:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.02), 0 5px 22px -6px rgba(0,0,0,.1);
    transform: scale(1.025);
    transition: all 0.3s ease;
}
.shadow-1-hover.on-white:hover {
    box-shadow: 0 0 1px rgba(0,0,0,.15), 0 5px 22px -6px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}

.shadow-2 {
    box-shadow: 0 0 5px rgba(0,0,0,.02), 0 5px 22px -6px rgba(0,0,0,.1);
}
.shadow-2.on-white {
    box-shadow: 0 0 3px rgba(0,0,0,.08), 0 5px 22px -6px rgba(0,0,0,.08);
}
.shadow-2-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1px rgba(0,0,0,.03), 0 8px 26px -4px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.shadow-2-hover.on-white:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.08), 0 8px 26px -4px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}

.shadow-3 {
    box-shadow: 0 0 1px rgba(0,0,0,.03), 0 10px 32px -5px rgba(0,0,0,.1);
}
.shadow-3.on-white {
    box-shadow: 0 0 4px rgba(0,0,0,.065), 0 10px 32px -5px rgba(0,0,0,0.075);
}
.shadow-3-hover:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.03), 0 17px 40px -8px rgba(0,0,0,.09);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.shadow-3-hover.on-white:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.065), 0 17px 40px -8px rgba(0,0,0,.09);
    transition: all 0.3s ease;
}

.header-shadow {
    box-shadow: 0 0 3px rgba(0,0,0,.03), 0 3px 46px rgba(0,0,0,.07);
}

/* Test hover box */
.box-hover-test {
    transition: all 0.3s ease;
}

.box-hover-test:hover {
    box-shadow: 0 0 1px rgba(0,0,0,.03), 0 10px 32px -5px rgba(0,0,0,.1);
    transform: scale(1.0065);
}


/* Border radius */
.br5 {
    border-radius: 1.2rem;
}

.hover-underline-blue:hover {
    box-shadow: color-mod(var(--blue) a(0.5)) 0 -1px 0 inset;
    text-decoration: none;
}



/* Custom styles */
/* ----------------------------------------------------------------------- */

.grid-icon-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(124px, auto));
    grid-auto-rows: 115px;
    grid-gap: 24px;
    grid-gap: auto;
}

.gh-nav-logo-suffix:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 1px;
    display: block;
    width: 1px;
    height: 23px;
    background: #d3e4ee;
    transform: rotate(25deg);
}

.gh-nav-logo-suffix-light:before {
    color: #FFFFFF!important;
}

.searchfield-width {
    min-width: 16vw;
}

.content-max-width {
    max-width: calc(114rem - 24vw);
}

.titleslash-white:before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, 0.3);
    transform: rotate(25deg);
}

.titleslash-grey:before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
    width: 1px;
    height: 24px;
    background: var(--lightgrey);
    transform: rotate(25deg);
}

.stroke-w--1-5 g,
.stroke-w--1-5 path {
    stroke-width: 1.35;
}

.prevnext-hover,
.prevnext-hover p {
    transition: all 0.8s ease;
}

/* .prevnext-hover:hover {
    box-shadow: 0 5px 25px -5px rgba(0,0,0,.1);
    border-color: color-mod(var(--whitegrey) l(+1%));
    transition: all 0.2s ease;
} */

.prevnext-hover:hover p {
    box-shadow: color-mod(var(--blue-l2) l(+10%) s(-10%)) 0 -1px 0 inset;
    transition: all 0.2s ease;
}

.bg-darkgrey-searchbar {
    background-color: color-mod(var(--midlightgrey) a(0.1));
}

/* Search */
/* ----------------------------------------------------------------------- */
.search-modal-overlay {
    background-color: rgba(84, 102, 109, 0.5);
}

.search-modal {
    outline: none;
    /* max-height: calc(100vh - 13.6rem); */
    /* min-height: 20.0rem; */
    overflow: hidden;
}

.search-modal-result-container {
    max-height: calc(100vh - 23.6rem);
    overflow: scroll;
}

.search-result-page mark {
    background: none;
    color: color-mod(var(--blue) l(-25%));
    /* box-shadow: color-mod(var(--blue) a(0.5)) 0 -1px 0 inset; */
}

.search-result-snippet em {
    font-style: unset;
    box-shadow: color-mod(var(--blue) a(0.8)) 0 -1px 0 inset;
    color: var(--middarkgrey);
}

.body-modal-open {
    overflow: hidden;
}

/* Home */
/* ----------------------------------------------------------------------- */
.gh-bg-home {
    background: url(../../images/bg-home.svg) no-repeat, radial-gradient(ellipse at top, rgba(252,253,255,1) 0%,rgba(228,233,245,1) 100%);
    background-size: cover;
}

.gh-home-api-container {
    grid-auto-rows: minmax(12rem, auto);
}

.api-box-min-height {
    min-height: 12rem;
}

.api-hover h4,
.dark-h4-hover h4,
.api-hover:hover svg g,
.api-hover:hover svg path {
    transition: all 0.8s ease;
}

.dark-h4-hover:hover h4,
.api-hover:hover h4 {
    color: var(--blue);
    transition: all 0.2s ease;
}

.api-hover:hover svg g,
.api-hover:hover svg path {
    stroke: var(--blue);
    transition: all 0.2s ease;
}

.home-faq-question h4 {
    transition: all 0.2s ease;
}

.home-faq-question:hover h4 {
    box-shadow: color-mod(var(--blue) a(0.5)) 0 -1px 0 inset;
}

/* Integrations
/* ----------------------------------------------------------------------- */

.gh-integration-sidebar a:hover {
    color: #3eb0ef !important;
    /*TODO: color: var(--blue);*/
}

.gh-integration-card {
    transition: all 0.5s ease !important;
}

.gh-integration-card:hover {
    transform: scale(1.1);
    transition: all 0.2s ease !important;
}

.bg-integrations-header-image {
    background: url(../../images/bg-integrations.svg) bottom center no-repeat, linear-gradient(60deg, #FA3973 0%, #FEE140 100%);
    background-size: cover;
}

.bg-integrations-header-image .gh-nav-logo-suffix:before {
    background: rgba(255,255,255,0.3);
}

/* .bg-integrations-header-cover {
    background: linear-gradient(45deg, rgba(125,185,232,0.95) 1%,rgba(0,179,184,0.95) 100%);
} */

.gh-integration-header-shadow {
    text-shadow: 0px 5px 18px rgba(0, 0, 0, 0.07);
}

.gh-integrations {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
}

@media (max-width: 1000px) {
    .gh-integrations {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 860px) {
    .gh-integrations {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-navbar {
    display: grid;
    grid-template-columns: 220px auto;
}

.sidebar-list:before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 0px;
    bottom: 7px;
    width: 1px;
    background: var(--whitegrey);
}

.sidebar-list .sidebarlink-active {
    position: relative;
}

.sidebar-list .sidebarlink-active:before {
    content: '';
    display: block;
    position: absolute;
    top: 0.7rem;
    left: -2.4rem;
    bottom: 0.8rem;
    width: 4px;
    background: var(--blue);
    border-radius: 0 2px 2px 0;
}

.nav-sidebar:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--whitegrey-l2);
    width: 10000px;
    /* z-index: -999; */
}

.nav-sidebar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, var(--whitegrey-l2) 0%, rgba(0, 0, 0, 0.015) 100%);
    border-right: 1px solid var(--whitegrey-l1);
    width: 8px;
    /* z-index: -997; */
}

.z--999 {
    z-index: -999;
}

/* ul .sidebarlink-active:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(-2.4rem - 1px);
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, var(--whitegrey) 0%, var(--blue) 50%,var(--whitegrey) 100%);
} */


/* API */
/* ----------------------------------------------------------------------- */
.bg-api-reference {
    background: url(../../images/bg-api.svg) bottom center no-repeat, linear-gradient(60deg, #29323c 0%, #485563 100%);
}

/* Setup */
/* ----------------------------------------------------------------------- */
.bg-setup {
    background: url(../../images/bg-setup.svg) bottom center no-repeat, linear-gradient(60deg, #008BD6 0%, #3ECFE6 100%);
}

.setup-box-min-height {
    min-height: 20rem;
}

/* Core Concepts */
/* ----------------------------------------------------------------------- */
.bg-concepts {
    background: url(../../images/bg-concepts.svg) bottom center no-repeat, linear-gradient(60deg, #6B23AE 0%, #C86DD7 100%);
}

/* Tutorials */
/* ----------------------------------------------------------------------- */
.bg-tutorials {
    background: url(../../images/bg-concepts.svg) center center no-repeat, linear-gradient(60deg, #118CA4 0%, #54E4B6 100%);
}

.bg-tutorial-color {
    background-color: #35BCAD;
}

.tutorial-green {
    color: #35BCAD;
}

.stroke-tutorial-green g,
.stroke-tutorial-green path {
    stroke: #35BCAD;
}

.fill-tutorial-green g,
.fill-tutorial-green path {
    fill: #35BCAD;
}

.tutorial-featured-post {
    border-top: 4px solid #35BCAD;
}

.tutorial-post-card {
    min-height: 400px;
}

.tutorial-post-card h2 {
    transition: all 0.4s ease;
}

.tutorial-post-card:hover h2 {
    color: #35BCAD;
}

.tutorial-feature-image {
    width: 24px;
    height: auto;
}

.tutorial-feature-image g,
.tutorial-feature-image path {
    stroke: #35BCAD;
}

/* FAQ */
/* ----------------------------------------------------------------------- */
.bg-faq {
    background: url(../../images/bg-setup.svg) center center no-repeat, linear-gradient(60deg, #A4116E 0%, #E454C5 100%);
}

.faq-content {
    margin-top: -18px;
}

.bg-faq-color {
    background: #CC3AA2;
}

.b--faq-color {
    border-color: #CC3AA2;
}

.faq-color {
    color: #CC3AA2;
}

.faq-question h4 {
    transition: all 0.4s ease;
}

.faq-question:hover h4 {
    color: #CC3AA2;
}

.faq-question:last-of-type {
    border-bottom: none;
}


/* Table of Contents */
/* ----------------------------------------------------------------------- */
.toc-list-container ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.3rem;
}

.toc-list-container ol li {
    line-height: 1.65em;
    margin-top: 1.0rem;
}

.toc-list-container ol > ol:first-of-type{
    margin-top: 1.2rem;
}

.toc-list-container ol a {
    color: var(--midlightgrey);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    line-height: 1.5em;
    font-weight: 500;
}

.toc-list-container.lefty ol a {
    color: var(--midgrey);
}

.toc-list-container ol ol a {
    font-weight: 400;
}

.toc-list-container ol a:hover {
    color: var(--blue-l2);
    text-decoration: none;
}

.toc-list-container ol ol {
    padding-left: 2.4rem;
    position: relative;
}

.toc-list-container ol ol:before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    bottom: 7px;
    width: 1px;
    background: #e5eff5;
}

.toc-list-container .is-active-link {
    color: var(--darkgrey);
    font-weight: 600;
}

.toc-list-container.lefty .is-active-link {
    color: var(--blue);
}

.toc-list-container ol ol li {
    margin-bottom: 0rem;
    margin-top: 0.2rem;
}

.toc-list-container.lefty ol ol {
    margin-bottom: 2.0rem;
}

.toc-list-container ol li > ol:first-of-type{
    margin-top: 0.6rem;
}

.toc-list-container > ol > li {
    margin-top: 0.2rem;
    margin-bottom: 0rem;
}

.toc-list-container.lefty > ol > li {
    font-size: 1.45rem;
    font-weight: 500;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
}

.toc-list-container > ol > li a {
    display: inline-block;
    padding: 0.6rem 0;
}

.toc-list-container ol li a.is-active-link {
    position: relative;
}

.toc-list-container.lefty .is-collapsed {
    display: none;
}

.toc-list-container.lefty ol ol li a.is-active-link:before {
    content: "";
    display: block;
    position: absolute;
    top: .7rem;
    left: -2.4rem;
    bottom: .8rem;
    width: 4px;
    background: #3eb0ef;
    border-radius: 0 2px 2px 0;
}


/* Special Content Box */

.sbox {
    position: relative;
    z-index: 40;
    display: flex;
    padding: 20px 30px 25px;
    border: #d3e5ff 1px solid;
    color: inherit !important;
    background: #f3f8ff;
    border-radius: 8px;
}
.sbox:hover {
    box-shadow: none !important;
}

.sbox-image {
    width: 60px;
    margin: 1px 20px 0 0;
}

.sbox-content h4 {
    margin: 0;
    padding: 0;
}

.sbox-content p {
    font-size: 1.4rem;
    line-height: 1.55em;
}

.post-content p+.sbox {
    margin: 3.2rem 0 0;
}
