
/* Normalize */
/* ------------------------------------ */

.post-content {
    line-height: var(--vr-3);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    line-height: 1.75em;
}

.post-content audio,
.post-content canvas,
.post-content iframe,
.post-content img,
.post-content svg,
.post-content video {
    vertical-align: middle;
}

.post-content fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.post-content textarea {
    resize: vertical;
}

.post-content p,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content blockquote {
    margin: var(--vr-3) 0 0;
}

.post-content>p:first-child {
    margin: var(--vr-1) 0 0;
    font-size: 1.9rem;
    line-height: var(--vr-4);
}

.post-content ol,
.post-content ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

.post-content ol ol,
.post-content ul ul,
.post-content ul ol,
.post-content ol ul {
    margin: var(--vr-2) 0 0;
}

.post-content ul {
    list-style: disc;
}

.post-content ol {
    list-style: decimal;
}

.post-content ul,
.post-content ol {
    max-width: 100%;
}

.post-content li {
    margin: var(--vr-1) 0 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

.post-content dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: right;
}

.post-content dd {
    margin: 0 0 5px 0;
    text-align: left;
}

.post-content blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em 0 1.6em;
    border-left: var(--whitegrey) 0.5em solid;
}

.post-content blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

.post-content blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
.post-content blockquote small:before {
    content: "\2014 \00A0";
}

.post-content blockquote cite {
    font-weight: bold;
}
.post-content blockquote cite a {
    font-weight: normal;
}

.post-content div {
    min-width: 100%;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content p,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content pre,
.post-content blockquote,
.post-full-comments,
.footnotes {
    min-width: 100%;
}

.post-content li {
    word-break: break-word;
}

.post-content li p {
    margin: 0;
}

/*TODO: use color-mod*/
.post-content a {
    color: #2FA1E0; /*should be blue-d2*/
    word-break: break-word;
    text-decoration: none;
    box-shadow: rgba(62, 176, 239, 0.4) 0 -1px 0 inset;
    transition: all 0.2s ease;
}

.post-content a:hover {
    color: #2497D6;
    box-shadow: var(--blue) 0 -1px 0 inset;
    text-decoration: none;
}

.post-content strong,
.post-content em {
    color: color(var(--darkgrey) l(-5%));
}

.post-content small {
    display: inline-block;
    line-height: 1.6em;
}

.post-content li:first-child {
    margin-top: 0;
}

.post-content img,
.post-content video {
    display: block;
    margin: 1.5em auto;
    max-width: 1040px;
    height: auto;
}


/* Full bleed images (#full)
Super neat trick courtesy of @JoelDrapper
Usage (In Ghost edtior):
![img](/some/image.jpg#full)
*/
.post-content img[src$="#full"] {
    max-width: none;
    width: 100vw;
}


/* Image captions
Usage (In Ghost editor):
![img](/some/image.jpg)
<small>Your image caption</small>
*/
.post-content img + br + small {
    display: block;
    margin-top: -3em;
    margin-bottom: 1.5em;
    text-align: center;
}


/* Override third party iframe styles */
.post-content iframe {
    margin: 0 auto !important;
}

.post-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: #3eb0ef 3px solid;
}

.post-content blockquote p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.post-content blockquote p:last-child {
    margin-bottom: 0;
}

.post-content .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    color: inherit;
}

.post-content > h1:first-child,
.post-content > h2:first-child,
.post-content > h3:first-child,
.post-content > h4:first-child,
.post-content > h5:first-child,
.post-content > h6:first-child {
    margin: var(--vr-4) 0 0;
}

.post-content h1 {
    font-size: 4.4rem;
    font-weight: 300;
    line-height: var(--vr-8);
    letter-spacing: -0.2px;
    margin: var(--vr-8) 0 0;
}

@media (max-width: 500px) {
    .post-content h1 {
        font-size: 2.8rem;
    }
}

.post-content h2 {
    font-size: 3.3rem;
    font-weight: 600;
    line-height: var(--vr-6);
    margin: var(--vr-7) 0 0;
}
@media (max-width: 500px) {
    .post-content h2 {
        font-size: 2.6rem;
    }
}

.post-content h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: var(--vr-5);
    margin: var(--vr-6) 0 0;
    letter-spacing: -0.4px;
}
@media (max-width: 500px) {
    .post-content h3 {
        font-size: 2.2rem;
    }
}

.post-content h4 {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: var(--vr-4);
    margin: var(--vr-6) 0 0;
}
@media (max-width: 500px) {
    .post-content h4 {
        font-size: 2.2rem;
    }
}

.post-content h5 {
    font-size: 2.5rem;
    font-weight: 300;
    font-style: italic;
    line-height: var(--vr-5);
    margin: var(--vr-6) 0 0;
    color: var(--blue);
}
@media (max-width: 500px) {
    .post-content h5 {
        padding: 0 0 0.5em;
        font-size: 2.2rem;
    }
}

.post-content h6 {
    font-size: 1.45rem;
    font-weight: 600;
    line-height: var(--vr-3);
    margin: var(--vr-6) 0 0;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    word-spacing: 3px;
}
@media (max-width: 500px) {
    .post-content h6 {
        font-size: 2rem;
    }
}

.post-content h2 + p,
.post-content h3 + p,
.post-content h4 + p,
.post-content h6 + p
 {
    margin: var(--vr-1) 0 0;
}

.post-content h1 + h1,
.post-content h1 + h2,
.post-content h1 + h3,
.post-content h1 + h4,
.post-content h1 + h6 {
    margin: var(--vr-6) 0 0;
}

.post-content h2 + h2,
.post-content h2 + h3,
.post-content h2 + h4,
.post-content h2 + h6 {
    margin: var(--vr-2) 0 0;
}

.post-content h3 + h3,
.post-content h3 + h4,
.post-content h3 + h6 {
    margin: var(--vr-2) 0 0;
}

.post-content h4 + h4,
.post-content h4 + h6 {
    margin: var(--vr-1) 0 0;
}

.post-content h5 + p,
.post-content h5 + ul,
.post-content h5 + ol,
.post-content h5 + blockquote,
.post-content h5 + h1,
.post-content h5 + h2,
.post-content h5 + h3,
.post-content h5 + h4,
.post-content h5 + h5,
.post-content h5 + h6 {
    margin: var(--vr-6) 0 0;
}


.post-content hr {
    position: relative;
    display: block;
    width: 30rem;
    margin: var(--vr-8) 0 0;
    padding: 0;
    height: 1px;
    border: none;
    /* border-top: 1px solid var(--lightgrey); */
}

.post-content hr::before {
    content: "•••";
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-family: monospace;
    display: block;
    color: var(--midgrey);
    letter-spacing: 10px;
    margin-top: -10px;
}

.post-content hr + p,
.post-content hr + ul,
.post-content hr + ol,
.post-content hr + blockquote,
.post-content hr + h1,
.post-content hr + h2,
.post-content hr + h3,
.post-content hr + h4,
.post-content hr + h5,
.post-content hr + h6 {
    margin: var(--vr-8) 0 0;
}


/* Non-text content */

.post-content figure + p,
.post-content figure + ul,
.post-content figure + ol,
.post-content figure + blockquote,
.post-content figure + h1,
.post-content figure + h2,
.post-content figure + h3,
.post-content figure + h4,
.post-content figure + h5,
.post-content figure + h6,
.post-content p + figure,
.post-content ul + figure,
.post-content ol + figure,
.post-content blockquote + figure,
.post-content h1 + figure,
.post-content h2 + figure,
.post-content h3 + figure,
.post-content h4 + figure,
.post-content h5 + figure,
.post-content h6 + figure,

.post-content pre + p,
.post-content pre + ul,
.post-content pre + ol,
.post-content pre + blockquote,
.post-content pre + h1,
.post-content pre + h2,
.post-content pre + h3,
.post-content pre + h4,
.post-content pre + h5,
.post-content pre + h6,
.post-content p + pre,
.post-content ul + pre,
.post-content ol + pre,
.post-content blockquote + pre,
.post-content h1 + pre,
.post-content h2 + pre,
.post-content h3 + pre,
.post-content h4 + pre,
.post-content h5 + pre,
.post-content h6 + pre,

.post-content div + p,
.post-content div + ul,
.post-content div + ol,
.post-content div + blockquote,
.post-content div + h1,
.post-content div + h2,
.post-content div + h3,
.post-content div + h4,
.post-content div + h5,
.post-content div + h6,
.post-content p + div,
.post-content ul + div,
.post-content ol + div,
.post-content blockquote + div,
.post-content h1 + div,
.post-content h2 + div,
.post-content h3 + div,
.post-content h4 + div,
.post-content h5 + div,
.post-content h6 + div
{
    margin: var(--vr-5) 0 0;
}


/* Footnotes */
.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    color: var(--blue) !important;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Some grouped styles for smaller viewports */
@media (max-width: 500px) {
    .post-full-meta {
        font-size: 1.2rem;
        line-height: 1.3em;
    }
    .post-full-title {
        font-size: 2.9rem;
    }
    .post-full-image {
        margin-bottom: 4vw;
        height: 350px;
    }
    .post-content {
        padding: 0;
    }
    .post-content:before,
    .post-content:after {
        display: none;
    }
}

/* Tables */
.post-content table {
    display: inline-block;
    overflow-x: auto;
    margin: 0.5em 0 2.5em;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    white-space: nowrap;
    vertical-align: top;
}

.post-content table {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll, scroll;
    background-size: 10px 100%, 10px 100%;
    background-repeat: no-repeat;
}

.post-content table td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.post-content table td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-position: 100% 0;
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.post-content table th {
    color: var(--darkgrey);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: color(var(--whitegrey) l(+4%));
}

.post-content table th,
.post-content table td {
    padding: 6px 12px;
    border: color(var(--whitegrey) l(-1%) s(-5%)) 1px solid;
}

/* 7.6. Koenig Styles
/* ---------------------------------------------------------- */

.post-content .kg-image {
    max-width: 100%;
}

/* Preventing full-width image overlap with post image.  */
.post-full-image + .post-content .kg-content *:first-child .kg-image {
    width: 100%;
}

.post-content .kg-width-wide .kg-image {
    max-width: 1040px;
}

.post-content .kg-width-full .kg-image {
    max-width: 100vw;
}

.post-content figure {
    margin: var(--vr-2) 0 0;
}

.post-content figure img {
    margin: 0;
}

.post-content figcaption {
    margin: var(--vr-2) 0 0;
    font-size: 80%;
    line-height: var(--vr-2);
    text-align: center;
    letter-spacing: 0.2px;
}

.kg-width-full figcaption {
    padding: 0 1.5em;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
}


@media (max-width: 1040px) {
    .post-content .kg-width-full .kg-image {
        width: 100vw;
    }
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}


/* 7.7. FAQ Custom List Styles
/* ---------------------------------------------------------- */

.faq-content ol {
    padding: 0;
    list-style: none;
    counter-reset: listitem;
}

.faq-content ol li {
    position: relative;
    padding-left: 30px;
    margin: 15px 0 0;
}

.faq-content ol li:first-child {
    margin-top: 0;
}

.faq-content ol li::before {
    counter-increment: listitem;
    content: counter(listitem);
    background: var(--midgrey);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 4px 0;
    height: 11px;
    width: 19px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 2px;
}
