/* Custom CSS here */
.callout-red {
    background: rgba(240,82,48,.05);
    border: 1px rgba(240,82,48,.5) solid;
    max-width: 500px;
}
.callout-blue {
    background: rgba(74,144,226,.07);
    border: 1px rgba(74,144,226,.5) solid;
    max-width: 500px;
}

.callout-green {
    background: rgba(164,208,55,.07);
    border: 1px #a4d037 solid;
    max-width: 500px;
}
